html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
    background-color: #f7cac9;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    font-size: 3rem;
}

#board {
    display: grid;
    grid-template-columns: 110px 110px 110px;
    grid-template-rows: auto;
    width: 330px;
}

.box {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    min-width: 110px;
    height: 110px;
    min-height: 110px;
    width: 110px;
    background-color: #034f84;
    border-color:black;
    color: #f7786b;
}

.box:hover {
    background-color: #92a8d1;
}

#instructions {
    font-style: italic;
    font-size: 0.8rem;
}

#buttonPanel {
    margin: 10px;
}

#playerPanel {
    flex-direction: column;
    padding: 2px;
    margin: 5px;
}

.name {
    margin: 5px;
}

#board {
    margin: 5px
}


button {
    border-radius: 7px;
    padding: 3px;
    padding-left: 2px;
    background-color: white;
}
